TELEGRAM_BOT_TOKEN=1234567890:replace_with_token
TELEGRAM_CHAT_ID=replace_with_chat_id

SMSAERO_EMAIL=replace_with_account_email
SMSAERO_API_KEY=replace_with_api_key
SMSAERO_SIGN=SMS Aero
SMSAERO_TO=79275190133
